html{
    background: #EEEEEE;


}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #EEEEEE;
    height: 100%;
}

text {
    white-space: pre;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}




/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.icon-button-color {
    color: #2E4172;
}


/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none,
    }
}

.spinner-background {
    z-index: 10000;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.86);
}

.element-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}


.element-hide.ng-hide {
  opacity:0;
}

md-nav-bar .md-nav-bar {
  background: rgb(63,81,181);
  
}
  .md-button._md-nav-button.md-unselected {
    color: white;
  }

md-nav-bar md-nav-ink-bar {
  background: rgb(63,81,181);
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
    color: white;
}

.md-button.md-default-theme.md-accent, .md-button.md-accent {
    color: white;
}

a { color: inherit; } 

a:link {
    color: inherit;
}

/* visited link */
a:visited {
    color: inherit;
}

/* mouse over link */
a:hover {
    color: inherit;
}

/* selected link */
a:active {
    color: inherit;
}

  md-nav-ink-bar {
    color: '{{accent-color}}';
    background: '{{accent-color}}';
  }

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }




