################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EuroJobsCrm/v14/.suo
src/EuroJobsCrm/bin/Release/netcoreapp1.0/EuroJobsCrm.deps.json
src/EuroJobsCrm/bin/Release/
src/EuroJobsCrm/obj/Release/netcoreapp1.0/.IncrementalCache
src/EuroJobsCrm/obj/
src/EuroJobsCrm/bin/
