@{
    ViewData["Title"] = "Confirm Email";
}
<div ng-controller="LanguageController" ng-cloak>
    <h2>{{'CONFIRM_EMAIL' | translate}}</h2>
    <div>
        <p>
            {{'REG_SUCCESS1' | translate}} <br/>
            {{'REG_SUCCESS2' | translate}}
            <a style="color: blue;" asp-controller="Account" asp-action="Login">{{'LOG_TO_CAB'|translate}}</a>.
        </p>
    </div>
</div>
