@model RegisterContragentViewModel 
@{ ViewData["Title"] = "Register"; }

<script src='https://www.google.com/recaptcha/api.js'></script>
<div ng-cloak>
    <h2>{{'REGISTER'| translate}}</h2>
    <form asp-controller="Account" asp-action="RegisterContragent" asp-route-returnurl="@ViewData[" ReturnUrl "]" method="post"
        class="form-horizontal">
        <h4>{{'ACC'| translate}}</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CompanyName" class="col-md-2 control-label">{{'LAW_NAME'|translate}}</label>
            <div class="col-md-10">
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">{{'CP_NAME'|translate}}</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label">{{'EMAIL'|translate}}</label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label">{{'PASSWORD'|translate}}</label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label">{{'CONF_PASSWORD'|translate}}</label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <input type="checkbox" style="align: right;" asp-for="PersonalDataUse" class="form-control" required/>
            </div>
            <div class="col-md-10">
                <span>{{'PERSONAL_DATA_USE'|translate}}</span>
            </div>
        </div>


        <div class="g-recaptcha" style="float: right;" data-sitekey="6LcvVhwUAAAAADCWYMPuPRzSj-XiTNZ3hACO3A84"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">{{'CREATE_ACC'|translate}}</button>
            </div>
        </div>
    </form>
</div>

@section Scripts { @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } }