@{
    ViewData["Title"] = "Confirm Email";
}

<div ng-controller="LanguageController" ng-cloak>
<h2>{{'CONFIRM_EMAIL'|translate}}</h2>
<div>
    <p>
        {{'GRAT'|translate}} <br/>
        {{'ACC_CREATED'|translate}} <br/>
        {{'FINISH_REG'|translate}}
    </p>
</div>

    </div>
