@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Thank you for your registration. <br/>
        Confirm your account please, you will receive an email confirmaton in few minutes.
    </p>
</div>
