<ui-view>
	<div id="popupContainer" ng-controller="OffersController" class="container body-content">
		<md-content>
			<section class="demo-container md-whiteframe-z1">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>{{'Offers'|translate}}</span>
						</h2>
						<span flex></span>

						<md-button class="md-icon-button" aria-label="Search" ng-show="!showSearch" ng-click="showSearch = !showSearch">
							<md-icon md-font-icon="ion-search"></md-icon>
						</md-button>
						<md-button class="md-icon-button" aria-label="Search" ng-show="showSearch" ng-click="showSearch = !showSearch">
							<md-icon md-font-icon="ion-android-close"></md-icon>
						</md-button>
					</div>
					<md-toolbar class="md-hue-1" ng-show="showSearch">
						<div class="md-toolbar-tools">
							<md-input-container class="md-block" flex="100" ng-show="showSearch">
								<input aria-label="input" ng-model="searchString" style="color:white; font-size:14pt;" placeholder="{{'SEARCH'| translate}} ..." />
							</md-input-container>
						</div>
					</md-toolbar>
				</md-toolbar>
				<div layout="row" layout-padding="" ng-cloak>
					<md-content flex="100">
						<md-list ng-cloak>
							<md-list-item class="md-2-line" ng-repeat="offer in offers | offersSearchFor: searchString">
								<md-icon style="font-size:32px;" md-font-icon="ion-document-text" ng-click="showEditAddressDialog(address)"></md-icon>
								<div class="md-list-item-text">
									<h4>{{'POSITION'| translate}}: <b>{{offer.position}}</b>,
										<b ng-show="offer.branch==0">{{ 'BUILDING' | translate }}</b>
										<b ng-show="offer.branch==1"> {{ 'PHISICAL_WORK' | translate }}</b>
										<b ng-show="offer.branch==2"> {{ 'IT' | translate }}</b>
									</h4>
									<p>{{ 'VACANCIES_NUMBER' | translate }}: <b>{{offer.vacanciesNumber}}</b></p>
								</div>
								<md-button aria-label="button" class="md-icon-button md-secondary" ng-click="editOffer(offer.id)">
									<md-icon md-svg-icon="/lib/icons/edit.svg"></md-icon>
								</md-button>
								<md-button aria-label="button" class="md-icon-button md-secondary" ng-click="showDeleteOfferConfirmDialog(offer.id)">
									<md-icon md-svg-icon="/lib/icons/delete.svg"></md-icon>
								</md-button>
								<md-divider ng-if="!$last"></md-divider>
							</md-list-item>
						</md-list>
					</md-content>
				</div>
			</section>
		</md-content>
		<!--
		<nav mfb-menu position="br" effect="zoomin" active-icon="ion-more" resting-icon="ion-more">
			<a mfb-button icon="ion-ios-search-strong" label="{{'SEARCH' | translate}}"></a>
			<a mfb-button icon="ion-android-contact" label="{{'ADD_CONTRAGENT' | translate}}" ng-click="showAddContragentDialog()"></a>
		</nav>


		<nav mfb-menu position="br" effect="zoomin" active-icon="ion-more" resting-icon="ion-more">
			<a mfb-button icon="ion-ios-search-strong" label="{{'SEARCH' | translate}}"></a>
			<a mfb-button icon="ion-android-contact" label="{{'ADD_CLIENT' | translate}}" ng-click="showAddClientDialog()"></a>
		</nav> -->
	</div>
</ui-view>