<md-dialog aria-label="Offers">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{'OFFERS' | translate}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="close()">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content" style="width:1000px">
			<!--OFFER INFORMATION-->
			<form name="offerForm">
				<h4>{{'OFFER_INFORMATION'| translate}}</h4>
				<div layout="row" layout-align="space-between none">
					<md-input-container class="md-block" flex="30">
						<label>{{'BRANCH'| translate}}</label>
						<input name="offer_branch" ng-model="offer.branch" placeholder="{{'Engineer'| translate}}" md-maxlength="100" required>
						<div ng-messages="offerForm.offer_branch.$error" role="alert" multiple>
							<div ng-message="required">{{'BRANCH_REQUIRED' | translate}} </div>
							<div ng-message="md-maxlength">{{'BRANCH_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex="30">
						<label>{{'VACANCIES_NUMBER'| translate}}</label>
						<input name="offer_vacanciesNumber" ng-model="offer.vacanciesNumber" placeholder="10" md-maxlength="3" required>
						<div ng-messages="offerForm.offer_vacanciesNumber.$error" role="alert" multiple>
							<div ng-message="required">{{'VACANCIES_NUMBER_REQUIRED' | translate}} </div>
							<div ng-message="md-maxlength">{{'VACANCIES_NUMBER_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex="30">
						<label>{{'WORK_PLACE'| translate}}</label>
						<input name="offer_workPlace" placeholder="" ng-model="offer.workPlace">
						<div ng-messages="offerForm.offer_email.$error" role="alert">
							<div ng-message-exp="['pattern']">{{'EMAIL_ERROR_MSG' | translate}}</div>
						</div>
					</md-input-container>
				</div>
				<div layout="row" layout-align="space-between none">
					<md-input-container class="md-block" flex="30">
						<label>{{'WORK_START'| translate}}</label>
						<md-datepicker md-current-view="year" ng-model="offer.workStart" md-placeholder="{{'Enter date' | translate}}"></md-datepicker>
					</md-input-container>
					<md-input-container class="md-block" flex="30">
						<label>{{'WORK_END'| translate}}</label>
						<md-datepicker md-current-view="year" ng-model="offer.workEnd" md-placeholder="{{'Enter date' | translate}}" ng-disabled="isUnlimited"></md-datepicker>
					</md-input-container>
					<md-input-container class="md-block" flex="30">
						<md-checkbox ng-model="isUnlimited" aria-label="chb1" ng-change="disableEndDate(isUnlimited)">{{'WORK_UNLIMITED'| translate}}</md-checkbox>
					</md-input-container>
				</div>
				<!--Responcibilities-->
				
				<h4>{{'RESPONCIBILITIES'| translate}}</h4>
				<h6>{{'DESCRIPTION_OF_POSITION'| translate}}</h6>
				<div layout="row" layout-align="space-between center">
					<md-input-container class="md-block" flex="100">
						<label>{{'RESPONCIBILITIES'| translate}}</label>
						<textarea ng-model="offer.responsibilities" md-maxlength="500" rows="5" md-select-on-focus></textarea>
					</md-input-container>
				</div>

				<div layout="row" layout-align="space-between center">
					<md-input-container class="md-block" flex="30">
						<label>{{'CP_SKYPE'| translate}}</label>
						<input name="offer_skype" ng-model="offer.skype" placeholder="SkypeLogin" md-maxlength="100">
						<div ng-messages="offerForm.offer_skype.$error" role="alert" multiple>
							<div ng-message="md-maxlength">{{'SKYPE_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>

					<md-input-container class="md-block" flex="30">
						<label>{{'CP_MESSANGER'| translate}}</label>
						<input name="offer_messanger" ng-model="offer.messanger" placeholder="+48 999 999 999" md-maxlength="100">
						<div ng-messages="offerForm.offer_messanger.$error" role="alert" multiple>
							<div ng-message="md-maxlength">{{'MESSANGER_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
				</div>

			</form>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="saveOfferClick()">
			{{'SAVE'|translate}}
		</md-button>
	</md-dialog-actions>
</md-dialog>