<ui-view>
	<div id="popupContainer" ng-controller="ClientsController" class="container body-content">
		<md-content>
			<section class="demo-container md-whiteframe-z1">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>{{'Clients'|translate}}</span>
						</h2>
						<span flex></span>

						<md-button class="md-icon-button" aria-label="Search" ng-show="!showSearch" ng-click="showSearch = !showSearch">
							<md-icon md-font-icon="ion-search"></md-icon>
						</md-button>
						<md-button class="md-icon-button" aria-label="Search" ng-show="showSearch" ng-click="showSearch = !showSearch">
							<md-icon md-font-icon="ion-android-close"></md-icon>
						</md-button>
					</div>
					<md-toolbar class="md-hue-1" ng-show="showSearch">
						<div class="md-toolbar-tools">
							<md-input-container class="md-block" flex="100">
								<input ng-model="client.position" style="color:white; font-size:14pt;">
							</md-input-container>

							<span flex> </span>
							<md-button aria-label="Back">
								<md-icon md-font-icon="ion-search"></md-icon>
						</div>
					</md-toolbar>
				</md-toolbar>
				<div layout="row" layout-padding="" ng-cloak>
					<md-content flex>
						<md-list ng-cloak style="margin-top: -10px">
							<md-list-item class="md-3-line" ng-repeat="client in clients">
								<md-icon style="font-size:24px;" md-font-icon="ion-ios-folder">
								</md-icon>
								<div class="md-list-item-text">
									<table>
										<td style="padding:0 30px 0 0;">
											<h3><b>{{client.name}}</b></h3>
											<p> <b>{{'TAX_ID'| translate}}:</b> {{client.nip}}</p>
											<p> <b>{{'KRS'| translate}}:</b> {{client.krs}}</p>
											<p> <b>{{'REGON'| translate}}:</b> {{client.regon}}</p>
										</td>
										<td>
											<p ng-repeat="cl_address in client.addresses">
												<i ng-show="cl_address.type == 1">{{ 'LEGAL_ADDRESS' | translate }}: {{cl_address.address}}, {{cl_address.postCode}}, {{cl_address.city}}, {{cl_address.country}}</i>
												<i ng-show="cl_address.type == 2"> {{ 'PHYSICAL_ADDRESS' | translate }}: {{cl_address.address}}, {{cl_address.postCode}}, {{cl_address.city}}, {{cl_address.country}}</i>
												<i ng-show="cl_address.type == 3"> {{ 'HOME_ADDRESS' | translate }}: {{cl_address.address}}, {{cl_address.postCode}}, {{cl_address.city}}, {{cl_address.country}}</i>
											</p>
										</td>
									</table>
								</div>

								<md-icon style="font-size:24px;" md-font-icon="ion-checkmark-circled" ng-show="client.status == '1'">
									<md-tooltip md-direction="left">
										{{ 'ACTIVE' | translate }}
									</md-tooltip>
								</md-icon>
								<md-icon style="font-size:24px;" md-font-icon="ion-android-cancel" ng-show="client.status == '0'">
									<md-tooltip md-direction="left">
										{{ 'INACTIVE' | translate }}
									</md-tooltip>
								</md-icon>

								<md-button aria-label="edit" class="md-icon-button md-secondary" ng-click="editClient(client.id)">
									<md-icon md-svg-icon="/lib/icons/edit.svg">
										<md-tooltip md-direction="down">
											{{ 'EDIT' | translate }}
										</md-tooltip>
									</md-icon>
								</md-button>
								<md-button aria-label="delete" class="md-icon-button md-secondary" ng-click="showDeleteClientConfirmDialog(client.id)">
									<md-icon md-svg-icon="/lib/icons/delete.svg">
										<md-tooltip md-direction="down">
											{{ 'DELETE' | translate }}
										</md-tooltip>
									</md-icon>
								</md-button>
								<md-divider ng-if="!$last"></md-divider>
							</md-list-item>
						</md-list>
					</md-content>
				</div>
			</section>
		</md-content>
		<nav mfb-menu position="br" effect="zoomin" active-icon="ion-more" resting-icon="ion-more">
			<a mfb-button icon="ion-ios-search-strong" label="{{'SEARCH' | translate}}"></a>
			<a mfb-button icon="ion-android-contact" label="{{'ADD_CONTRAGENT' | translate}}" ng-click="showAddContragentDialog()"></a>
		</nav>


		<nav mfb-menu position="br" effect="zoomin" active-icon="ion-more" resting-icon="ion-more">
			<a mfb-button icon="ion-ios-search-strong" label="{{'SEARCH' | translate}}"></a>
			<a mfb-button icon="ion-android-contact" label="{{'ADD_CLIENT' | translate}}" ng-click="showAddClientDialog()"></a>
		</nav>
	</div>
</ui-view>