@* For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860 *@ @{ } @{
ViewData["Title"] = "Contragnets"; }

<ui-view>
	<div id="popupContainer" ng-controller="ContragentsController as contragentsCtr" class="container body-content">
		<md-content>

			<!--	<nav mfb-menu position="br" effect="zoomin" active-icon="ion-edit" resting-icon="ion-plus-round">
				<a mfb-button  icon="ion-plus-round" label="Add Contragnet" ng-click="showDialog($event)">
				</a>
			</nav>-->

			<nav mfb-menu position="br" active-icon="ion-plus-round" resting-icon="ion-plus-round" ng-click="showDialog($event)">
			</nav>


			<md-list ng-cloak>
				<!--	<md-subheader class="md-no-sticky">Contragents</md-subheader> -->

				<md-list-item class="md-2-line" ng-repeat="contragent in contragents" ng-click="doPrimaryAction($event)">
					<div class="md-list-item-text">
						<h3>{{contragent.name}}</h3>
						<p>
							License: {{contragent.licenseNumber}}
						</p>
					</div>

					<md-button class="md-icon-button">
						<md-icon md-svg-icon="/lib/icons/edit.svg"></md-icon>
					</md-button>
					<md-button class="md-icon-button">
						<md-icon md-svg-icon="/lib/icons/delete.svg"></md-icon>
					</md-button>

				</md-list-item>

			</md-list>


		</md-content>
	</div>


</ui-view>